body { font-family: Palatino, Georgia, serif; line-height: 1.3; font-size: 11pt; /* color: #310; */ color: #FEC }
h1, h2, h3, h4 { margin-top: 1em; margin-bottom: 2em; }
.cover { text-transform: uppercase; text-align: center; }
.cover h1 { letter-spacing: 0.2em; font-size: 1.7em; margin-bottom: 2em; }
.cover h2 { font-size: 1em; margin-bottom: 3em; }
.cover h2 span { font-size: 0.8em; display: block; font-weight: normal; }
.cover h3 { font-weight: normal; font-size: 2em; }
.cover p { text-transform: none; font-size: 11px; }
a { color: white; text-decoration: none; }
